html{
background-color: #EFDCF9;
flex-flow: flex;
margin: 10px;
padding: 3px 10px;
border: #C79FA7 5px double;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
}

.image {
    height: 180px;
}