html{
background-color: white;
}

header{
    background-color: white;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 100%;
    
}

h1.lefthheader{
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: rgb(241, 23, 107);
    font-weight: bolder;
   
}
   

nav { 
    background-color: white;
    width: 50%;
    font-size: small;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

nav a {
    margin: 5px;
    padding: 5px;
    width: 50%;
    text-align: right;
    color: black;
    font-weight: bolder;
}

.maindiv {
    background-color: #eeeaea;
    display: block;
    margin: 5px;
    width: 100%;
    padding: 5px;
    text-align: center;
 
}
#ncoders{
    color: rgb(241, 23, 107);

}

div {
    display: inline-block;

}

.image {
    height: 180px;
    height: 10em;
    width: 100%;
    object-fit: cover;
 
}

.boxcontent { 
    margin:8px;
    padding: 10px;
    width: 29.5%;
    background-color: white;
    display: inline-block;

}

h3{
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
    display: inline;
    text-align: initial;
    
}
h4{
    color: grey;
    width: 30%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    
}

#scparr{
    color: rgb(241, 23, 107);
    text-align: left;
    font-weight: bolder;
}

.tittle{ 
    text-align: center;
    margin: 5px;
    padding: 5px;
}
p{
    text-align: left;
}